# Python-related ignores #
###################
*.py[cod]
*.egg-info/
__pycache__/

# Output fig or video, etc #
############################
output/

# Editor Config #
.vscode/
.spyproject/
.spyderproject/
